
.chatbot{
  margin-top: 17px;
margin-left: 10px;
  border-color: black;
  border: solid 1px;
  right:380px;
  height: 450px;
  bottom:100px;
  width:300px;
  overflow: hidden;
  box-shadow:2px
}

.chatbox .incoming{
  justify-content: space-between;
}
.chatbot .chatbox{
  height:390px;
  overflow-y:auto;
}
.chatbox .chat{
  display: flex;
}
.chatbox .outgoing{
  justify-content: space-between;
}
.chatbox .chat p{
  width: 170px;
justify-content: start;
color: black;
font-size: 13px;
margin-top: 15px;
padding: 0px 16px;
border-radius: 10px 10px 10px 0px;
}
.chatbox .column{
display: flex;
}
.chatbox .date{
  font-size: 10px;
  margin-top: 14px;
  font-weight: 700;
}
.chatbox .incoming p{
color: black;
font-size: 13px;
border-radius: 0px 10px 10px 0px;
} 
.chatbox .avatar_green{
  color: white;
  height: 30px;
  border-radius: 50px;
 margin-left: 15px;
 margin-top: 23px;
 padding: 8px 10px 10px 10px;
 font-size: 15px;
 background-color: black;
 text-align: center;
  width: 30px;
}
.chatbox .avatar_blue{
  color: white;
  height: 30px;
  border-radius: 50px;
 margin-left: 15px;
 margin-top: 23px;
 padding: 8px 10px 10px 10px;
 font-size: 15px;
 background-color: grey;
 text-align: center;
  width: 30px;
}
.chatbox .user_name{
  font-weight: bold;
}
.chatbox span{
  color: black;
  padding-top: 10px;
 justify-content: end;
 align-items: end;
  font-size: 19px;

}
.input{
  background-color: red;
  justify-content: start;
  margin-bottom: 1000px;
}
.input_span{
  font-size: 13px;
  cursor: pointer;
  color:black;
  align-items: end;
  padding-top: 17px;
  width: 50px;
}
.chatbot .input{
  bottom:0;
  width:100%;
  background: white;
  display:flex;
  margin-top: 10px;
  gap:5px;
  border-top: 1px solid wheat;
}


.input .dataa{
  color: black;
  width: 220px;
}