.chat-container {
  height: 50vh;
  width: 400px;
  margin: 20px auto;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 20px;
}

:-webkit-scrollbar-track {
  background-color: red;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
}

.chat-header {
  background-color: black;
  color: black;
  padding: 10px;
  text-align: center;
}

.bot {
  background-color: #e0e0e0;
  margin: 10px 0;
  padding: 8px;
  text-align: left;
  border-radius: 4px;
}

.user {
  margin: 10px 0;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  color: black;
  text-align: right;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-top: 1px solid #ccc;
}

.chat-input input {
  padding: 8px;
  border-color: black;
  color: black;
  margin-right: 8px;
}